.card-content {
  text-align: left;
  margin: 10px;
}
.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
}
@media only screen and (max-width: 576px) {
  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 330px) {
  .card-row {
    width: 100%;
  }
}
