<div class="container">
  <img
    src="static/images/home/dash-hero.jpg"
    class="img-fluid slides rounded my-3"
    alt="slides"
  />
  <p class="mb-3">
    The Department of Applied Sciences &amp; Humanities has the following
    disciplines:
  </p>
  <ol>
    <li>Mathematics</li>
    <li>Physics</li>
    <li>Chemistry</li>
    <li>English</li>
  </ol>
  <p>
    The department has made rapid strides in fostering engineering education
    that blends scientifically designed doses of academics with co and
    extracurricular activities guaranteed to promote the all-round development
    and growth of its students, thanks to the efforts of enthusiastic and
    experienced faculty members. The department offers M.Sc. and M.Phil.
    mathematics programs in addition to meeting the needs of all engineering and
    science students in UG and PG programs. It also provides research-based
    Ph.D. and M.S. programs.
  </p>
</div>
