---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Infrastructure">
  <div class="container mt-5 mb-5">
    <div class="row">
      <h1 class="display">INFRASTRUCTURE</h1>
      <h2 class="display mt-3">PHYSICS LABORATORY</h2>
      <center>
        <div
          id="carouselExampleIndicators"
          class="carousel carousel-dark slide idivision"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/images/infrastructure/phy_Lab_1.jpg"
                class="img-fluid idivision"
                alt=".h."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/phy_Lab_2.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/phy_Lab_3.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/phy_Lab_4.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </center>
      <h2 class="display mt-5">CHEMISTRY LABORATORY</h2>
      <center>
        <div
          id="carouselExampleIndicators2"
          class="carousel carousel-dark slide idivision"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators2"
              data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/images/infrastructure/che_Lab_1.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/che_Lab_2.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/che_Lab_3.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </center>
      <h2 class="display mt-5">UV LABORATORY</h2>
      <center>
        <div
          id="carouselExampleIndicators3"
          class="carousel carousel-dark slide idivision"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators3"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/images/infrastructure/uv_research.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </center>
      <h2 class="display mt-5">COMMUNICATION LABORATORY</h2>
      <center>
        <div
          id="carouselExampleIndicators4"
          class="carousel carousel-dark slide idivision"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators4"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators4"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/images/infrastructure/com_1.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/com_2.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators4"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators4"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </center>
      <h2 class="display mt-5">COMPUTATIONAL MATHEMATICS LABORATORY</h2>
      <center>
        <div
          id="carouselExampleIndicators5"
          class="carousel carousel-dark slide idivision"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators5"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators5"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/images/infrastructure/com_mat_lab_1.jpeg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="/static/images/infrastructure/com_mat_lab_2.jpeg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators5"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators5"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </center>
      <h2 class="display mt-5">HIGH TEMPERATURE FURNACE LABORATORY</h2>
      <center>
        <div
          id="carouselExampleIndicators6"
          class="carousel carousel-dark slide idivision"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators6"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/images/infrastructure/High_Temp_Furnace_Lab.jpg"
                class="img-fluid idivision"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators6"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators6"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </center>
    </div>
  </div>
</Layout>

<style>
  .idivision {
    margin: 10px;
  }
</style>
