---
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";

const data = [
  {
    name: "Scanning Electron Microscope with EDAX",
    photo: "",
    specification: "",
    form: "",
  },
  {
    name: "UV-Vis Spectrometer",
    photo: "",
    specification: "",
    form: "",
  },
  {
    name: "Impedance Studies",
    photo: "",
    specification: "",
    form: "",
  },
];
---

<Layout title="Characterization Facilities">
  <div class="container mb-3">
    <Title text="Characterization Facilites" />
    <div>
      <p class="lead">
        The faculty members,research scholars and students can avail R&amp;D
        facilities upon payment of nominal fees. The form can be downloaded
        below.
      </p>
    </div>
    <div class="flex-item" id="text-section">
      <div class="my-3">
        <div class="display-6 mb-2">Downloads</div>
        <ul class="fs-5">
          <li>
            <a
              href="https://mitindia.edu/images/mit/Departments/science_humanities/SEM_Rate.pdf"
              class="text-decoration-none"
              target="_blank"
              rel="noreferrer"
            >
              <span class="pe-3">Fees</span>
              <i class="text-dark bi bi-filetype-pdf"></i>
            </a>
          </li>
          <li>
            <a
              href="/static/docs/charFacilities/sem_form.docx"
              class="text-decoration-none"
            >
              <span class="pe-3">Form</span>
              <i class="text-dark bi bi-filetype-pdf"></i>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered">
            <thead class="table-dark">
              <tr class="fs-5">
                <th>S. no.</th>
                <th>Instrument Name</th>
                {
                  /* <th>Photo</th>
                    <th>Specification</th>
                    <th>Form</th> */
                }
              </tr>
            </thead>
            <tbody>
              {
                data.map((item, index) => (
                  <tr>
                    <td>{index + 1}</td>
                    <td>{item.name}</td>
                    {/* <td>{item.photo}</td>
                      <td>{item.specification}</td>
                      <td>{item.form}</td> */}
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</Layout>
