---
import ScrollToTop from "../components/scrollToTop";
import Header from "../templates/Header.jsx";
import Footer from "../templates/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Department of Applied Sciences & Humanities, MIT Campus, Anna University"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFDQ15446V"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-BFDQ15446V");
    </script>
    <title>
      {
        (title ? `${title} | ` : "") +
          "Department of Applied Sciences & Humanities, MIT Campus, Anna University"
      }
    </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <Header />
    <ScrollToTop client:load />
    <slot />
    <Footer />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
<style is:global>
  :root {
    --accent: #182628;
  }
  .slides {
    display: block;
    margin: 0 auto;
  }
  .accent-bg {
    background-color: #182628 !important;
    color: white;
  }
  #profile-sidebar {
    position: sticky;
    top: 2vh;
    font-size: 1.1rem;
  }
  @media only screen and (max-width: 992px) {
    #profile-sidebar {
      display: none;
    }
  }
  .profile-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  #profile-sidebar button {
    border: none;
    background-color: var(--accent);
    color: white;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  /* scroll up button styles */
  .top-to-btm {
    position: relative;
  }
  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style {
    background-color: #daa520;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
  }
  .icon-style:hover {
    animation: none;
    background: #fff;
    color: #daa520;
    border: 2px solid #daa520;
  }
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .activeType {
    color: grey;
    cursor: text !important;
  }
  .activeType:hover {
    color: grey;
  }
  .inactiveType {
    color: rgb(2, 0, 0);
  }
  .inactiveType:hover {
    font-size: 23px;
  }
  .staff-type {
    text-align: left;
    list-style-type: none;
  }
  .staff-type li {
    margin: 20px auto;
    cursor: pointer;
    font-size: 25px;
  }
  #profile-expand {
    position: absolute;
    right: 2%;
  }
  @media only screen and (max-width: 760px) {
    .staff-type {
      text-align: center;
    }
  }
</style>
