---
import Title from "../../../components/Title.astro";
import Layout from "../../../layouts/Layout.astro";
import SelectedContent from "../../../components/selectedContent/SelectedContent";

import students2016 from "../../../data/students/MPhil/math/2016";
import students2017 from "../../../data/students/MPhil/math/2017";
import students2018 from "../../../data/students/MPhil/math/2018";
import students2019 from "../../../data/students/MPhil/math/2019";

const content = {
  2016: students2016,
  2017: students2017,
  2018: students2018,
  2019: students2019,
};
---

<Layout title="M.Phil Math Students">
  <div class="container mb-5">
    <Title text="M.Phil Students" />
    <SelectedContent
      content={content}
      defaultView={2019}
      contentType="students"
      selectTitle="Year of Admission"
      client:load
    />
  </div>
</Layout>
